.stock-list-header {
    display: flex;
    float: right;
    padding: 10px;
}

.stock-list-header-tag {
    font-weight: 600;
}

.stock-list-header-select {
    margin-right: 20px;
}

.stock-action:hover .ant-btn-link{
    visibility: visible;
}

.stock-action .ant-btn-link{
    visibility: hidden;
}

