.stock-app {
  font-family: "Courier New", sans-serif;
}

.stock-header {
  align-items: flex-start;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 5vh;

}

.stock-content {
  height: calc(100vh - 130px);
  padding: 0 48px;

}
